*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(216, 226, 230);
    width: 100vw;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    padding-top: 8vw;
}

header{
    margin: 0 auto 64px;
    width: 90%;
    display: flex;
    align-items: center;
}

header img{
    height: 48px;
    margin-right: 16px;
}

h1{
    font-size: 48px;
    font-weight: bold;
}

form{
    width: 90%;
    display: flex;
    margin: 0 auto 40px;
    justify-content: space-between;
}

.inputs{
    width: 80%;
    display: flex;
    gap: 10%;
}

input{
    width: 40%;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    border: none;
    border-bottom: 2px solid black;
    padding: 8px;
}

#nota-atividade{
    width: 20%;
}

button{
    width: 16%;
    background-color: rgb(0, 31, 214);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 24px;
    border: none;
    padding: 8px 32px;
    border-bottom: 3px solid rgb(0, 25, 172);
    border-right: 3px solid rgb(0, 25, 172);
}

button:hover{
    cursor: pointer;
    background-color: rgb(0, 43, 255);
    border-bottom: 3px solid  rgb(0, 31, 214);
    border-right: 3px solid  rgb(0, 31, 214);
}

table{
    width: 100%;
}

th{
    border-bottom: 2px solid black;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

td{
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .6);
}

td img{
    height: 26px;
}

.resultado{
    padding: 8px;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 3px;
}

.aprovado{
    background-color:  rgb(0, 193, 29);
}

.reprovado{
    background-color:  rgb(193, 26, 0);
}

@media screen and (max-width: 768px){
    .container{
        padding-top: 16vw;
        width: 90%;
    }

    header{
        width: 100%;
    }
    
    header img{
        height: 24px;
        margin-right: 8px;
    }
    
    header h1{
        font-size: 24px;
    }

    form{
        width: 100%;
    }

    .inputs{
        width: 60%;
        justify-content: space-between;

    }

    input{
        width: 60%;
        font-size: 16px;
    }

    #nota-atividade{
        width: 30%;
    }

    button{
        width: 30%;
        font-size: 16px;
        padding: 8px;
    }

    th{
        padding: 8px;
        font-size: 18px;
    }

    td{
        font-size: 16px;
    }

    td img{
        height: 18px;
    }

    .resultado{
        padding: 4px;
    }
}